*{
    margin: 0;
    padding: 0;
}
.navbar{ 
    height: 80px;
    color: rgb(0, 0, 0);
    background-color: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
ul{
    display: flex;
}
li{
    list-style-type: none;
    font-size: larger;
    margin-right: 30px;
}
.nav-links a:hover{
    color: rgb(139, 23, 128);
}
.navbar h1{
    font-size: 50px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: rgb(85, 78, 74);
    margin-right:30px;
}
.navbar button{
    height:  30px;
    width: 110px;
}
.navbar button:hover{
    color: white;
    background-color: darksalmon;
}
.navbar select{
    height:  30px;
    width: 110px;
}
.nav-links a{
    color: black;
    text-decoration: none;
}
section .home-content{
    height: 80vh;
    background-image: url(travel-4.avif);
    background-size: cover;
    background-attachment: fixed;
}
.home .content{
    text-align: center;
    padding: 90px;
}
.content h1{
    font-size: 50px;
    color: rgb(5, 4, 4);
    padding-bottom: 15px;
}
.content p{
    font-size: 20px;
    color: rgb(173, 117, 12);
    padding: 25px;
    
}
.content button{
    height:  40px;
    width: 125px;
    font-size: large;
    color: white;
    background-color: dimgray;
}
.footer{
    height: auto;
    font-size: 18px;
    color: black;
    background-color: rgba(145, 109, 54, 0.521);
    padding: 0 20px;
    display: flex;     
    flex-direction: column;   
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ffd1dc, #ffcc99); 
    color: rgb(15, 15, 15);   
}
.footer a{
    color: black;
    font-size: 18px;
    text-decoration: none;
}